*{
  margin: 0px;
  padding: 0px;
}

#wrapper{
  width: 970px;
  height: 1020px;
  background: linear-gradient(#1e0e12, #705964, #1e0e12);
  margin: auto;
  font-family: sans-serif;
}

#header{
  background-color: #fafafa;
  padding: 10px 20px;
  height: 50px;
}

#header h1{
  font-family: Comic Sans MS;
}

#header h1, #header h2{
  display: inline;
}

#header h2{
  float: right;
  padding-top: 10px;
}

#profile_pic{
  border: 5px solid #c0c0c0;
  margin: 20px 0px 0px 20px;
  display: inline-block;
  width: 425px;
  height: 275px;
}

.box p{
  padding: 10px;
  font-size: 16px;
}
#first .logos img{
  width: 40px;
  padding: 5px;
}

#top .box{
  width: 470px;
  height: 285px;
  vertical-align: top;
  margin: 20px 0px 0px 40px;
}

#top a{
  padding-left: 10px;
  color: black;
}

.box{
  background: linear-gradient(to right, #fefefe, #daccda);
  display: inline-block;
}

.box h3{
  background: linear-gradient(#a4a3a9, #8a8995 ,#a4a3a9);
  padding: 10px;
  color: white;
}

.box img{
  width: 100%;
  height: auto;
}

#first img{
  width: 285px;
}

#second img{
  width: 285px;
}

#third img{
  width: 285px;
}

#first{
  display: inline-block;
  margin: 20px;
  width: 285px;
  background: linear-gradient(to right, #fefcfd, #dbcddb)
}

#first p{
  padding: 10px 0px 60px 10px;
  font-size: 14px;
}

h4{
  padding: 10px;
  width: 265px;
  background: linear-gradient(#a4a3a9, #8a8995 ,#a4a3a9);
  color: white;
}

h5{
  padding: 10px;
  background: linear-gradient(#a4a3a9, #8a8995 ,#a4a3a9);
  color: white;
}

#second{
  display: inline-block;
  margin: 20px 5px 20px 10px;
  width: 285px;
  background: linear-gradient(to right, #fefcfd, #dbcddb)
}

#second .logos img{
  width: 40px;
  padding: 5px;
}

#second p{
  padding: 10px 0px 45px 10px;
  font-size: 14px;
}

#third{
  display: inline-block;
  margin: 20px 20px 20px 25px;
  width: 285px;
  background: linear-gradient(to right, #fefcfd, #dbcddb)
}

#third .logos img{
  width: 40px;
  padding: 5px;
}

#third p{
  padding: 10px 0px 15px 10px;
  font-size: 14px;
}

button{
  color: white;
  background-color: green;
  border: 1px solid darkgreen;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  display: block;
}

#footer{
  height: 50px;
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px;
}

#footer img{
  width: 20px;
}

#footer a{
  color: black;
}

#footer p{
  padding-bottom: 10px;
}
